<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/account-subscription-api.log</file>
        <append>true</append>
        <encoder>
            <format>${FILE_LOG_STRUCTURED_FORMAT}</format>
            <charset>${FILE_LOG_CHARSET}</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
</appender>
</configuration>

