<configuration>

    <!-- JDBC Appender для логирования в базу данных -->
    <appender name="JDBC" class="ch.qos.logback.core.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://localhost:5432/your_database</url>
            <user>postgres</user>
            <password>root</password>
        </connectionSource>
        <sql>INSERT INTO log_entity (timestamp, level, logger, message) VALUES (%date{}, %level{}, %logger{}, %message%)</sql>
    </appender>

    <!-- Конфигурация корневого логгера для вывода в консоль и в базу -->
    <root level="debug">
        <appender-ref ref="JDBC"/>
    </root>

</configuration>

